@charset "utf-8";

$main-color: #00E676;
$white: #fefefe;
$black: rgba(0, 0, 0, 0.8);
$grey: rgba(0, 0, 0, 0.35);
$light-grey: rgba(0, 0, 0, 0.08);

$zindex: -1;
$zindex-1: 5;
$zindex-2: 10;
$zindex-3: 15;
$zindex-4: 20;
